*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primaryfont);
}
html{
  font-size: 16px;
  
}

:root {
    --primaryfont: 'Radley', serif;
    --dark-color: #000000;
    --medium-color: #D9D9D9;
    --light-color:  #f5f5f5;
    --intermediate-color: #5B5458;
   }

   

  /*---- création de la navbar-----------*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-color);
}


.toggle{
  position: relative;
  display: block;
  font-size: 2rem;
  padding: 0.5rem;
  color: var(--light-color);
}

.toggle .open-nav-menu{
  display: block;
}

.toggle .close-nav-menu{
  display: none;
}

.open .toggle .open-nav-menu{
  display: none;
}

.open .toggle .close-nav-menu{
  display: block;
}

.title{
  display: block;
  color: var(--light-color);
  align-items: center;
}

.nav-menu{
  position: absolute;
  top: 9%;
  left: 0;
  width: 100%;
  height: auto;
  background: var(--dark-color);
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  transform: translateX(-100%);
  transition: transform 1s;
}

.open .nav-menu{
  transform: translateX(0);
}

.nav-menu li{
  list-style: none;

}

.nav-menu li a{
  font-size: 2rem;
  color: var(--light-color);
  text-decoration: none;
}



.open .btn{
  border: 0;
  background: var(--medium-color);
  color: var(--dark-color);
  padding: 1rem 1.5rem;
  margin: 1rem;
  border-radius: 1rem;
}

/*---- fin de la navbar mobile-----------*/

/*------------------SECTION WELCOME--------------*/
  
  /*image zoom pour apporter du mouvement*/
  .welcome{
    background-image: url(img/bar-498420_1280.jpg);
    background-size: cover;
    object-fit: cover;
  }
  
  .welcome{
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  
  }
  
  .welcome h1{
    font-size: 4rem;
    color: var(--light-color);
    text-shadow: black 0.1em 0.1em 0.2em;
    animation: 2s 3 alternate slidein; 
  }
  
  .welcome span{
    animation: 3s 2 alternate-reverse slidein; 
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  /*---------------END SECTION WELCOME--------------*/


@media screen and (min-width: 767px){


  /*-------- NAVBAR--------------*/

  .toggle{
    display: none;
  } 

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: var(--medium-color);
    position: fixed;
     top: 0;
     width: 100%;
 }

}

