@import url('https://fonts.googleapis.com/css2?family=Inter&family=Radley&display=swap');


:root {
   --dark-color: #000000;
   --medium-color: #D9D9D9;
   --light-color:  #f5f5f5;
  }

*{
font-family: "radley", sans-serif;
margin: 0;
box-sizing: border-box;
color: var(--dark-color);
}

li{
   list-style: none;
}

p{
   font-size: 0.8rem;
}

body {
   min-height: 100vh;
   background: var(--light-color;)
}

nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   background: var(--medium-color);
}

.logoandtitle {
   align-items: center;
   display: flex;
}

.logoandtitle img {
   height: 70px;
}
.logoandtitle h1 {
   margin-left: 20px;
}

.linknav {
   justify-content: space-between;
}

.linknav ul {
   display: flex;
   justify-content: space-between;
   margin-inline-end: 20px;
   gap: 50px;
   margin-right: 50px;

}

.linknav li {
   letter-spacing: 2px;
   font-weight: bold;
}

.linknav a{
   text-decoration: none;
   color: var(--dark-color);
   justify-content: space-between;
}

header {
   background-size: cover;
   background-image: url(./img/bar-498420_1280.jpg);
   text-align: center;
   min-height: 900px;
   padding: 360px;
   font-size: 60px;
   color:rgb(255, 255, 255);
   font-style: italic;
   box-shadow: 0px -4px 20px 0px black;
}

.threepicspage1 {
   display: flex;
   justify-content: space-around;
   margin-top: 100px;
}

.leftpic img { 
   display: flex;
   justify-content: center;
   height: 434px;
   width: 400px;
   object-fit: cover;
}

.middlepic img{
   display: flex;
   justify-content: center;
   height: 434px;
   width: 400px;
   object-fit: cover;
}

.rightpic img{
   display: flex;
   justify-content: center;
   height: 434px;
   width: 400px;
   object-fit: cover;
}

.underpicspage1 {
   display: flex;
   justify-content: space-around;
   margin-top: 20px;
}

.underpicspage1 .p1 p{
  display: flex;
   font-size: 1.5rem;
   margin-top: 10px;

}

.underpicspage1 .p2 p {
   display: flex;
   font-size: 1.5rem;
   margin-top: 10px;
}

.underpicspage1 .p3 p {
   display: flex;
   font-size: 1.5rem;
   margin-top: 10px;
}

.flexboxpage1 ul{
   display: flex;
   justify-content: space-around;
   margin: 30px; 
}

.flexboxpage1 li {
   border: none;
   background: var(--medium-color);
   padding: 15px;
   font-family: "radley";
   color: rgb(128, 15, 15);
}

.underboxpage1 {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.underboxpage1 .p1 p {
   font-size: 1.2rem;
   text-align: center;
}

.underboxpage1 .p2 p {
   font-size: 1.2rem;
   text-align: center
}

.underboxpage1 .p3 p {
   font-size: 1.2rem;
}

.lunch {
   margin-top: 6%;
   display: flex;
   justify-content: space-around;
   margin: 100px auto;
}

.lunchtext {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 50%;
}

.lunchtext h3 {
   font-size: 40px;
}

.lunchtext p {
   font-size: 20px;
}

.lunchvid {
   width: 50%;
}

.diner {
   display: flex;
   justify-content: space-around;
   margin: 100px auto;
}


.dinervid {
   display: flex;
   width: 50%;
}

.dinertext {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 50%;
}

.dinertext h3 {
   font-size: 40px;
}

.dinertext p {
   font-size: 20px;
}



