@import url('https://fonts.googleapis.com/css2?family=Inter&family=Radley&display=swap');


:root {
   --dark-color: #000000;
   --medium-color: #D9D9D9;
   --light-color: #f5f5f5;
}

* {
   font-family: "radley", sans-serif;
   margin: 0;
   box-sizing: border-box;
   color: var(--dark-color);
}

li {
   list-style: none;
}



body {
   min-height: 100vh;
   background: var(--light-color)
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   background: var(--medium-color);
   position: fixed;
   top: 0;
   width: 100%;
}

.logoandtitle {
   align-items: center;
   display: flex;
}

.logoandtitle img {
   height: 70px;
}

.logoandtitle h1 {
   margin-left: 20px;
}

.linknav {
   justify-content: space-between;
}

.linknav ul {
   display: flex;
   justify-content: space-between;
   margin-inline-end: 20px;
   gap: 50px;
   margin-right: 50px;

}

.linknav li {
   letter-spacing: 2px;
   font-weight: bold;
}

.linknav a {
   text-decoration: none;
   color: var(--dark-color);
   justify-content: space-between;
}

header {
   background-size: cover;
   background-image: url(./img/bar-498420_1280.jpg);
   text-align: center;
   min-height: 900px;
   padding: 360px;
   margin-bottom: 200px;
   font-size: 60px;
   color: rgb(255, 255, 255);
   font-style: italic;
   box-shadow: 0px -4px 20px 0px black;
   text-shadow: 0 0 20px black;
}

.threepicspage1 {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 40px;
   margin-bottom: 80px;
   text-align: center;
   font-family: 'Radley', serif;
   line-height: 1.7;
   font-size: 1.2rem;
}

.leftpic img,
.middlepic img,
.rightpic img {
   width: 400px;
   height: 400px;
   object-fit: cover;
}

.leftpic div,
.middlepic div,
.rightpic div {
   width: 400px;
}

.leftpic a,
.middlepic a,
.rightpic a {
   background: var(--medium-color);
   padding: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   color: brown;
   font-weight: bold;
   letter-spacing: 1px;
   text-decoration: none;
}

.underboxpage1 {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.underboxpage1 .p1 p {
   font-size: 1.2rem;
   text-align: center;
}

.underboxpage1 .p2 p {
   font-size: 1.2rem;
   text-align: center
}

.underboxpage1 .p3 p {
   font-size: 1.2rem;
}

.lunch {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row-reverse;
   gap: 300px;
   margin-bottom: 90px;
}

.lunch video {
   width: 800px;
   height: 600px;
}

.lunchtext {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   line-height: 1.8;
   text-align: center;
}

.lunchtext h3 {
   font-size: 40px;
}

.lunchtext ul {
   font-size: 20px;
}

.diner {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 300px;
   margin-bottom: 150px;

}

.diner video {
   width: 800px;
   height: 600px;
}

.dinertext {
   display: flex;
   flex-direction: column;
   justify-content: center;
   line-height: 1.8;
   text-align: center;
}

.dinertext h3 {
   font-size: 40px;
}

.dinertext ul {
   font-size: 20px;
   text-align: center;
   display: flex;
   flex-direction: column;
}

.brunch {
   display: flex;
   justify-content: center;
}

.brunch {
   display: flex;
   justify-content: center;
   text-align: center;
   background-image: url(./img/pexels-micheilecom-__-visual-stories-8366815.jpg);
   background-size: cover;
   height: 760px;
   width: 1350px;
   margin: 0 auto;
   font-size: 40px;
   padding-top: 250px;
   margin-bottom: 140px;
}

.brunchtext h3 {
   color: rgb(255 103 50);
   background: #ffffffba;
}

.brunchtext p {
   color: rgb(255 103 50);
   background: #ffffffba;
}

.brunchtext a {
   color: rgb(255 103 50);
   background: #ffffffba;
}


.winecellar {
   display: flex;
   justify-content: right;
   text-align: right;
   background-image: url(./img/wine-3021459_1280.jpg);
   background-size: cover;
   height: 760px;
   width: 1350px;
   margin: 0 auto;
   font-size: 40px;
   padding-top: 60px;
   padding-right: 60px;
   margin-bottom: 230px;
}

.winecellartext h3 {
   color: beige;
}

.winecellartext p {
   color: white;
}

.winecellartext a {
   color: white;
   text-shadow: 0 0 6px black;
   font-size: 30px;
}

.mosaicgrid {
   height: 760px;
   width: 1350px;
   margin: 0 auto;
   font-size: 40px;
   padding-top: 20px;
   padding-right: 60px;
   margin-bottom: 100px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-areas:
      "yel yel re or"
      "yel yel gr bl"
      "gra vio gr br";
   gap: 20px;
}

#grid1 {
   background-image: url(./img/beef.jpg);
   background-size: cover;
   grid-area: yel;
   object-fit: cover;
}

#grid2 {
   background-image: url(./img/tacos.jpg);
   background-size: cover;
   object-fit: cover;
}

#grid3 {
   background-image: url(./img/salad.jpg);
   background-size: cover;
   object-fit: cover;
   grid-area: or;
}

#grid4 {
   background-image: url(./img/oysters.jpg);
   background-size: cover;
   grid-area: gr;
}

#grid5 {
   background-image: url(./img/pasta.jpg);
   background-size: cover;
   grid-area: bl;
}

#grid6 {
   background-image: url(./img/bottlewine.jpg);
   background-size: cover;
   grid-area: gra;
}

#grid7 {
   background-image: url(./img/tomatoes-321671_1280.jpg);
   background-size: cover;
   grid-area: vio;
}

#grid8 {
   background-image: url(./img/star-anise-1887231_1280.jpg);
   background-size: cover;
   grid-area: br;
}

.booking {
   text-align: center;
   display: grid;
   justify-content: center;
   gap: 10px;
   margin-top: 250px;
}

.infos {
   display: flex;
   grid-template-columns: 1fr 1fr;
   background: var(--medium-color);
   align-items: center;
   gap: 20px;
}

.infos-left {
   width: 50%;
   display: grid;
   justify-content: center;
   gap: 10px;
}

.wildfoodtitle {
   text-align: center;
}

.btn-container {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.btn-container button {
   border: none;
   border-radius: 10px;
   color: var(--light-color);
   background: var(--dark-color);
   width: 150px;
   padding: 10px;
   font-weight: bold;
   letter-spacing: 1px;
   margin: 5px;
}

.infos-right {
   width: 50%;
   margin-top: 30px;
}

footer {
   background: var(--medium-color);
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin: auto;
   padding: 10px;
   font-size: 1rem;
}

.footerleft {
   display: grid;
}

.footerright {
   display: grid;
   text-align: right;
}