* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primaryfont);
}

html {
    font-size: 16px;

}

:root {
    --primaryfont: 'Radley', serif;
    --dark-color: #000000;
    --medium-color: #D9D9D9;
    --light-color: #f5f5f5;
    --intermediate-color: #5B5458;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--medium-color);
}

.logo{
    margin-left: 2.5rem;
}


.toggle {
    position: relative;
    display: block;
    font-size: 2rem;
    margin-right: 2rem;
    padding: .5rem;
    color: var(--dark-color);
}

.toggle .open-nav-menu {
    display: block;
}

.toggle .close-nav-menu {
    display: none;
}

.open .toggle .open-nav-menu {
    display: none;
}

.open .toggle .close-nav-menu {
    display: block;
}

.title {
    display: block;
    color: var(--dark-color);
}

.title h1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: .5rem;
}

.navList {
    visibility: hidden;
}

.nav-menu {
    position: absolute;
    top: 9%;
    left: 0;
    width: 100%;
    height: auto;
    background: var(--medium-color);
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    transform: translateX(-100%);
    transition: transform 1s;
    margin-top: 3.5rem;
}

.open .nav-menu {
    transform: translateX(0);
}

.nav-menu li {
    list-style: none;
    padding: 7px;

}

.nav-menu li a {
    font-size: 1.5rem;
    color: var(--dark-color);
    text-decoration: none;
}



.open .btn {
    border: 0;
    background: var(--dark-color);
    color: var(--light-color);
    padding: 1rem 1rem;
    border-radius: 1rem;
}

/* WELCOME  */

.welcome {
    background-image: url(img/bar-498420_1280.jpg);
    background-size: cover;
    object-fit: cover;
}

.welcome {
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.welcome h1 {
    font-size: 4rem;
    color: var(--light-color);
    text-shadow: black 0.1em 0.1em 0.2em;
    animation: 2s 3 alternate slidein;
}

.welcome span {
    animation: 3s 2 alternate-reverse slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/*--------SERVICE SECTION-----------*/


.services-section h4,
h2 {
    margin-top: 20px;
    margin-bottom: 30px;
    color: wheat;
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
    box-shadow: inset 1px -1px 0px 20px black;

}

/*-----------CAROUSEL------------*/


#main>span {
    -webkit-text-stroke: 1px black;
    text-stroke: 4px rgb(255, 255, 255);
    color: aliceblue;
}

#wrapper {
    height: 49vh;
    width: 365px;
    display: flex;
    border: none;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

#wrapper i {
    font-size: 25px;
    pointer-events: none
}

#image-container {
    height: 100%;
    width: 50vw;
    overflow: hidden;

}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
    letter-spacing: 1px;
    text-align: center;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.img:hover .overlay-text {
    opacity: 1;
}

.img:hover .overlay-text2 {
    opacity: 1;
}

.img:hover .overlay-text3 {
    opacity: 1;
}

#image-carousel {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 200px;
    position: relative;
}

#image-carousel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    position: absolute;
    transition: 1s;

}

button {


    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
}

.caroussel {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease;
}

.card-service {
    flex: 0 0 100%;
    box-sizing: border-box;
}

/*-----------END CAROUSEL------------*/

.lunch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lunch video {
    width: 400px;
    height: 200px;
    margin-left: 8px;
}

.lunchtext {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
}

.lunchtext h3 {
    font-size: 30px;
}


.lunchtext p {
    font-size: 18px;
}

.lunchtext a {
    color: black;
    margin-bottom: 40px;
}

.diner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.diner video {
    width: 400px;
    height: 210px;
    margin-left: 8px;
}

.dinertext {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
}

.dinertext h3 {
    font-size: 30px;
}


.dinertext p {
    font-size: 18px;
}

.dinertext a {
    color: black;
    margin-bottom: 40px;
}

.brunch {
    display: flex;
    flex-direction: column;
}

.brunch {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(./img/pexels-micheilecom-__-visual-stories-8366815.jpg);
    background-size: cover;
    height: 500px;
    width: 400px;
    margin: 0 auto;
    font-size: 40px;
    padding-top: 100px;
    margin-bottom: 100px;
}

.brunchtext h3 {
    background: #ffffffba;
    font-size: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
}

.brunchtext p {
    background: #ffffffba;
    font-size: 30px;
    margin-bottom: 50px;
}

.brunchtext a {
    background: #ffffffba;
    color: black;
    font-weight: bold;
}

.winecellar {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(./img/wine-3021459_1280.jpg);
    background-size: cover;
    background-size: cover;
    height: 500px;
    width: 400px;
    margin: 0 auto;
    font-size: 40px;
    padding-top: 100px;
    margin-bottom: 80px;
}

.winecellartext h3 {
    background: #ffffffba;
    font-size: 45px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 80px;
}

.winecellartext p {
    font-size: 25px;
    background: #ffffffba;
    margin-bottom: 60px;
}

.winecellartext a {
    background: #ffffffba;
    color: black;
    font-weight: bold;
}

/* GRID */

.mosaicgrid {
    visibility: hidden;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.infos-left {
    justify-content: center;
    background: var(--medium-color);
    width: 100%;
    padding: 50px;
}

.wildfoodtitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.btn-container {
    text-align: center;
    justify-content: space-around;
}

.btn-container button {
    border: none;
    border-radius: 10px;
    color: var(--light-color);
    background: var(--dark-color);
    width: 150px;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 5px;
}

.btn-container a {
    color: white;
    font-size: 16px;
    text-align: center;
}

.infos-middle {
    text-align: center;
    justify-content: center;
}

.fingerRight {
    visibility: hidden;
}

.infos-right {
    margin-bottom: 50px;
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--medium-color);
    gap: 20px;
}

.infos-left {
    justify-content: center;
    width: 100%;
    padding: 50px;
}

.wildfoodtitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.btn-container {
    text-align: center;
    justify-content: space-around;
}

.btn-container button {
    border: none;
    border-radius: 10px;
    color: var(--light-color);
    background: var(--dark-color);
    width: 150px;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 5px;
}

.btn-container a {
    color: white;
    font-size: 16px;
    text-align: center;
}

.infos-middle {
    text-align: center;
    justify-content: center;
}

.fingerRight {
    visibility: hidden;
}

.infos-right {
    margin-bottom: 50px;
}

.social-media-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.fa-brands {
    margin: 1rem;
    padding: 1rem;
    color: var(--dark-color);
}



.cardDesktop {
        display: none;
        
    }
/* VERSION DESKTOP ! */

@media screen and (min-width: 1200px) {


    /*-------- NAVBAR--------------*/

    .toggle {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background: var(--medium-color);
        position: fixed;
        top: 0;
        width: 100%;
    }

    .nav-menu {
        display: none;
    }

    .logo {
        size: 1cqh;
    }

    .title h1 {
        display: none;
    }

    .navList {
        visibility: visible;
        display: flex;
        justify-content: space-between;
        margin-inline-end: 20px;
        gap: 50px;
        margin-right: 50px;
        align-content: center;
        font-size: 10px;
        text-align: center;
        align-items: center;
    }

    .navList ul {
        display: flex;
        justify-content: space-between;
        margin-inline-end: 20px;
        gap: 50px;
        margin-right: 50px;

    }

    .navList li {
        font-size: 1rem;
        padding: 20px;
        letter-spacing: 2px;
        font-weight: bold;
        text-decoration: none;
        list-style-type: none;
    }

    .navList a {
        text-decoration: none;
        color: var(--dark-color);
        justify-content: space-between;
    }

    .navList .btn {
        color: rgb(127, 13, 13);
        padding: 10px;
        border-radius: 20px;
        border: none;
    }
    /*------END NAVBAR------*/


    /*--------SERVICE SECTION--------*/

    #wrapper{
       display: none; 
    }

    .services-section h4,
    h2 {
        text-align: center;
        font-style: italic;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .services-section h4 {
        font-size: 20px;
    }

    .cardDesktop {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 40px;
        margin-bottom: 80px;
        text-align: center;
        font-family: 'Radley', serif;
        line-height: 1.7;
        font-size: 1.2rem;
    }

    .cardSliderSingle {
        width: 600px;

    }

    #image-carousel {
        visibility:visible ;
    }

    .cardSliderSingle img {
        visibility: visible;
        width: 400px;
        height: 400px;
        left: auto;
        right: auto;
        object-fit: cover;

    }

    .cardSliderSingle .btn-2 {
        font-size: 20px;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: brown;
        font-weight: bold;
        letter-spacing: 1px;
        text-decoration: none;
    }                            

    #p {
        margin-top: 20px;
    }

    #Btnnn {
        margin-top: 50px;
    }
/*--------END SERVICE SECTION--------*/
    .lunch {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        gap: 200px;
        margin-bottom: 90px;
    }

    .lunch video {
        width: 800px;
        height: 600px;
    }

    .lunchtext {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 1.8;
        text-align: center;
    }

    .lunchtext h3 {
        font-size: 40px;
    }

    .lunchtext p {
        font-size: 20px;
    }

    .lunchtext a {
        color: black;
    }

  /*--------Diner----------------*/

    .diner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 200px;
        margin-bottom: 150px;

    }

    .diner video {
        width: 800px;
        height: 600px;
    }

    .dinertext {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.8;
        text-align: center;
    }

    .dinertext h3 {
        font-size: 40px;
    }

    .dinertext p {
        font-size: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .dinertext a {
        color: black;
    }

    
    /*-------- End Diner----------------*/

    .brunch {
        display: flex;
        justify-content: center;
    }

    .brunch {
        display: flex;
        justify-content: center;
        text-align: center;
        background-image: url(./img/pexels-micheilecom-__-visual-stories-8366815.jpg);
        background-size: cover;
        height: 760px;
        width: 1350px;
        margin: 0 auto;
        font-size: 40px;
        padding-top: 200px;
        margin-bottom: 140px;
    }

    .brunchtext h3 {
        color: rgb(255 103 50);
        background: #ffffffba;
    }

    .brunchtext p {
        color: rgb(255 103 50);
        background: #ffffffba;
    }

    .brunchtext a {
        color: rgb(255 103 50);
        background: #ffffffba;
    }

    /*----------LA CAVE---------------*/

    .winecellar {
        display: flex;
        justify-content: right;
        text-align: right;
        background-image: url(./img/wine-3021459_1280.jpg);
        background-size: cover;
        height: 760px;
        width: 1350px;
        margin: 0 auto;
        font-size: 40px;
        padding-top: 60px;
        padding-right: 60px;
        margin-bottom: 180px;
    }



    .winecellartext h3 {
        color: white;
    }

    .winecellartext p {
        color: white;
    }

    .winecellartext a {
        color: white;
        text-shadow: 0 0 6px black;
        font-size: 30px;
    }

    /*---------- END LA CAVE---------------*/


    .mosaicgrid {
        visibility: visible;
        height: 760px;
        width: 1350px;
        margin: 0 auto;
        font-size: 40px;
        padding-top: 20px;
        padding-right: 60px;
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "yel yel re or"
            "yel yel gr bl"
            "gra vio gr br";
        gap: 20px;
    }

    #grid1 {
        background-image: url(./img/beef.jpg);
        background-size: cover;
        grid-area: yel;
        object-fit: cover;
    }

    #grid2 {
        background-image: url(./img/tacos.jpg);
        background-size: cover;
        object-fit: cover;
    }

    #grid3 {
        background-image: url(./img/salad.jpg);
        background-size: cover;
        object-fit: cover;
        grid-area: or;
    }

    #grid4 {
        background-image: url(./img/oysters.jpg);
        background-size: cover;
        grid-area: gr;
    }

    #grid5 {
        background-image: url(./img/pasta.jpg);
        background-size: cover;
        grid-area: bl;
    }

    #grid6 {
        background-image: url(./img/bottlewine.jpg);
        background-size: cover;
        grid-area: gra;
    }

    #grid7 {
        background-image: url(./img/tomatoes-321671_1280.jpg);
        background-size: cover;
        grid-area: vio;
    }

    #grid8 {
        background-image: url(./img/star-anise-1887231_1280.jpg);
        background-size: cover;
        grid-area: br;
    }

    .booking {
        text-align: center;
        display: grid;
        justify-content: center;
        gap: 10px;
        margin-top: 250px;
    }

    /*---------------Footer--------*/

    footer {
        display: flex;
        flex-direction: row;
        background: var(--medium-color);
        align-items: center;
        gap: 30px;
        color: var(--dark-color);

    }

    .infos-left {
        width: 36%;
        display: grid;
        justify-content: center;
        gap: 10px;
    }

    .wildfoodtitle {
        text-align: center;
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .btn-container button {
        border: none;
        border-radius: 10px;
        color: var(--light-color);
        background: var(--dark-color);
        width: 150px;
        padding: 10px;
        font-weight: bold;
        letter-spacing: 1px;
        margin: 5px;
    }

    .infos-middle {
        width: 17%;
    }

    .fingerDown {
        visibility: hidden;
    }

    .infos-right {
        margin-top: 30px;
        margin-bottom: 15px;
    }



}

